@font-face {
  font-family: "Silkscreen";
  src: url('fonts/slkscr.ttf');
}


.body {
  background-color: black;
}
.white {
  color:white;
  font-family: "Silkscreen";
}

.green {
  color:rgb(0, 183, 0);
  font-family: "Silkscreen";
}